.main {
  max-width: 700px;
  margin: 1rem auto 0 auto;
  padding: 0.5rem;
  padding-right: 1rem;
  text-align: justify;
}

.main > h2,
.main > h3,
.main > h4,
.main > h5,
.main > h6 {
  text-align: left;
  margin: 2rem 0;
}

.article {
  margin-bottom: 8rem;
}

.main h2 {
  scroll-margin-top: 4rem;
}

.main pre code {
  display: block;
  padding: 1rem 1rem;
  overflow-x: scroll;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.main code {
  padding: 0.2rem 0.5rem;
}
.main code, .main pre code {
  background-color: #67676729;
  border-radius: 0.5rem;
}
:global(.dark) .main code, :global(.dark) .main pre code {
  background-color: #8c8c8c32;
}
.container {
  width: 100vw;
  position: relative;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.sidebar {
  padding-top: 4.2rem;
}

.sidebarWrapper {
  position: sticky;
  top: 70px;
}

.sidebar h4 {
  font-size: 1.3rem;
  margin: 2.2rem 0 1rem 0;
}

.sidebar a {
  display: block;
  font-family: "Syne Mono", monospace;
  margin-bottom: 0.5rem;
}

.sidebar a:hover {
  cursor: pointer;
  color: #850971;
}

.homeContent {
  margin: 0 auto;
  padding: 1rem;
  padding-top: 0;
  max-width: 1500px;
}

@media screen and (max-width: 768px) {
  .content {
    grid-template-columns: 1fr;
  }
  .sidebar {
    grid-row: 1;
    max-width: 680px;
    width: 100%;
    margin: 0 auto;
    padding-left: 0.5rem;
  }
}