.share {
  display: flex;
  justify-content: space-between;
}

.share > button {
  transition: transform 0.2s;
}

.share > button:hover {
  cursor: pointer;
  transform: scale(110%);
}

@media screen and (max-width: 768px) {
  .share {
    max-width: 250px;
  }
}