.container {
  position: relative;
}

.button {
  border-radius: 50%;
  background-color: transparent;
  margin-left: 0.5rem;
  border: none;
  color: #dedcdc;
}

.button:hover {
  cursor: pointer;
  transform: scale(105%);
  color: white;
}

.button:hover ~ .tooltip {
  visibility: visible;
  opacity: 1;
}

.tooltip {
  visibility: hidden;
  font-size: 0.8rem;
  width: 120px;
  background: var(--nav-background);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 37px;
  right: -10px;
  opacity: 0;
  transition: opacity 0.3s;
}

@media screen and (max-width: 375px) {
  .button{
    margin-left: 0.1rem;
  }
}